/*总容器*/
.login_main{
    width: 856px;
    height: 100%;
    margin: 0 auto;
    /*border: 1px solid aqua;*/
}
/*岭北师范学院 和教务管理系统logo容器*/
.login_logo{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    /*border: 1px solid aqua;*/
}
/*岭北师范学院 和教务管理系统logo*/
.login_logo h2,h3{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    /*border: 1px solid aqua;*/
}
/*左侧美少女背景*/
.login_left {
    width: 426px;
    height: 340px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    position: relative;
    background-image: url("../picture/login_left.png");
    /*border: 1px solid aqua;*/
}
/*左侧美少女图*/
.login_left .login_pic{
    margin: 27px 0 0 0;
    /*border: 1px solid aqua;*/
}
/*右侧登录框图*/
.login_right {
    width: 426px;
    height: 340px;
    margin-left: 0px;
    float: left;
    position: relative;
    background-image: url("../picture/login_right.png");
    /*border: 1px solid aqua;*/
}
/*登录账号密码框容器*/
div.input_div{
    width: 426px;
    margin-top: 110px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0);
    /*border: 1px solid aqua;*/
}
/*登录账号密码框*/
.login_right table.login_input{
    color: #ff99aa;
    font-size: 12px;
    margin-left: 50px;
    /*border: 1px solid aqua;*/
}
/*注册账号密码*/
.register_input{
    color: #ff99aa;
    font-size: 12px;
    margin-left: 50px;

}
/*登录 注册按钮div容器*/
.login_right div.div_submit{
    width: 200px;
    height: 30px;
    margin-top: 0px;
    margin-left: 100px;
    /*border: 1px solid aqua;*/
}
/*登录 注册按钮*/
.login_right span.submit{
    font-size: 13px;
    color: white;
    background-color: rgba(255,153,170,0.55);
    margin-left: 10px;
    padding: 6px 12px;
    border: 1px;
    border-color: #ff99aa;
    border-style: solid;
    /*border: 1px solid aqua;*/
}
/*登录 注册 hover特效*/
.login_right span.submit:hover{
     background-color: rgba(235,133,150,0.55);
     cursor: pointer;
     border-color: #ff99aa;
 }
/*页脚的小脚丫*/
.login_footer{
    /*刚好37只脚*/
    width: 851px;
    height: 22px;
    float: left;
    background-image: url("../picture/login_footer.png");
    background-repeat: repeat-x;
    /*border: 1px solid aqua;*/
}







